<div class="nav-head">
                <a href="/"><img src="/images/Site_Icon/NewLogo.png" class="head-icon" />
                    <h2 class="text-head">DIFPEDIA</h2></a>
                <div style="position: relative;">
                    <input name="txtCountry" type="text" id="txtCountry" placeholder="Difference Between " class="inp-head">
                     <span class="searchIcon-head" id="srch" onclick="clk()">
                          <img src="/images/Site_Icon/search-Icon.png" class="ImgSearch">
                          </span> </div>
            </div>