<div class="nav-head">
                <a href="/"><img src="/images/Site_Icon/NewLogo.png" class="head-icon" />
                    <h2 class="text-head">DIFPEDIA</h2></a>
                <div style="position: relative;">
                  </div>
            </div>