<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DIFPEDIA.COM</title>
    <link rel="stylesheet" href="~/css/site.css" />   
    <link href="https://fonts.googleapis.com/css?family=Exo|PT+Sans+Narrow|Titillium+Web|Ubuntu+Condensed" rel="stylesheet" />
  
</head>

<body>
    <div class="main">
        <div class="main-container">
            <div class="main-container--logo"> 
                <img src="/images/Site_Icon/NewLogo.png" 
                alt="Difpedia.com" class="img-icon" />
                
                </div>
            <div class="main-container--text">DIFPEDIA</div>
            <div class="main-container2--input">
                <div class="main-container2--input--box">
                <input type="text" placeholder="Username " class="inpDif2">
                </div>
                
                <div class="main-container2--input--box">
                <input type="password" placeholder="Password " class="inpDif2">
                </div>

                 <button id="LoginButton"   class="primary-btn"> Login </button>  
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_Footer")
</body>
<script src="~/js/site.js" asp-append-version="true"></script>

</html>