<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DIFPEDIA.COM</title>
    <link rel="stylesheet" href="~/css/site.css" />   
    <link href="https://fonts.googleapis.com/css?family=Exo|PT+Sans+Narrow|Titillium+Web|Ubuntu+Condensed" rel="stylesheet" />
  
</head>

<body>
    <div class="main">
        <div class="main-container">
            <div class="main-container--logo"> 
                <img src="/images/Site_Icon/NewLogo.png" 
                alt="Difpedia.com" class="img-icon" />
                
                </div>
            <div class="main-container--text">DIFPEDIA</div>
            <div class="main-container2--input">
                <div class="main-container2--input--box">
                <input type="text" placeholder="Username " class="inpDif2">
                </div>
                
                <div class="main-container2--input--box">
                <input type="password" placeholder="Password " class="inpDif2">
                </div>

                 <button id="LoginButton"   class="primary-btn"> Login </button>  
            </div>
        </div>
    </div>

    <div class="Dif-footer" id="foot">
        <h4 class="FHeading">Follow Us</h4>
        <span class="Fspan">
            <img src="/images/Social%20Media/001-facebook.png" class="Dif-Social">
        </span>
        <span>
            <img src="/images/Social%20Media/005-twitter.png" class="Dif-Social">
        </span>
        <span>
            <a href="https://www.youtube.com/channel/UCmToCq0VzNMdwzIxrv3e-9w/videos">
                <img src="/images/Social%20Media/003-youtube.png" class="Dif-Social">
            </a>
        </span>
        <span>
            <img src="/images/Social%20Media/004-instagram.png" class="Dif-Social">
            <span class="f-con" style="">Copyright © 2017 · TeamWCRH ·
                <a href="/Link/SiteMap.aspx" class="siteMap">SiteMap</a>
            </span>
        </span>
    </div>

</body>
<script src="~/js/site.js" asp-append-version="true"></script>

</html>